<div class="card-body start-feed-content">
  <div>
    <a <i class="fa fa-pencil"> <%= link_to "start a post", new_post_path %> </i></a>
  </div>
  <div>
    <a <i class="fa fa-camera"> <%= link_to "upload an image", new_post_path %> </i> </a>
  </div>
  <div>
    <a href="#"> <i class="fa fa-newspaper-o"> </i></a>
  </div>
</div>