  <div class="list-group">
    <% if !@posts.blank? %>
      <% @posts.each do |post| %>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <%= link_to post.description, post %>
            <% if current_user %>
              <small>By <%= post.user.first_name %></small>
            <% end %>
            <small><%= post.created_at.strftime("%A %B %d, %Y") %></small>
          </div>
        </div>
      <%end%>
    <% else %>
      Nothing Here
    <%end%>
  </div>
