// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.start-feed .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-feed-content a {
  text-decoration: none;
  color: gray;
}

.start-feed-content a:hover {
  color: #4b2df5;
}

.profile {
  width: 100%;
  text-align: center;
  line-height: 10px;
  font-size: 12px;
}