// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-header {
  margin-top: 15px;
  padding: 10px;
}
.user-detail {
  font-weight: bolder;
  font-size: 14px;
}