<div class="card profile">
  <div class="card-body">
    <%= gravatar_for current_user, 70 %>
    <h6 class="card-title mt-3"><%= name%></h6>
    <p class="card-text"><%= current_user.email%></p>
    <p class="card-text"><%= current_user.address%></p>
  </div>
</div>
</div>